<div class="jumbotron bg-warning">
  <h1>Welcome to My Restaurant</h1>
  <br />
  <h3>Burgers App using Express Handlebars</h3>

</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h4 class="text-primary">Burgers that are ready</h4>
      <ul>
        {{#each burger}}
        {{#unless devoured}}
        <p>{{this.name_burger}}
          <button data-id={{this.id}} class="devourit btn btn-success">Devour </button></p>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-4">
      <h4 class="text-primary">Add a Burger</h4class="text-primary">
      <form class="create-form">

        <div class="form-group">
          <label for="customburger">Burger Name:</label>
          <input type="text" id="customburger">
        </div>

        <button type="submit" class="btn btn-info">Add Burger</button>
      </form>
    </div>
    <div class="col-4">
      <h4 class="text-primary">Burgers DEVOURED!!!</h4>
      <ul>
        {{#each burger}}
        {{#if devoured}}
        <p>{{this.name_burger}}
          <button data-id={{this.id}} class="deleteburger btn btn-danger" >Delete burger </button></p>
        {{/if}}
        {{/each}}
      </ul>

    </div>
  </div>
</div>